
.carousel-container {
    width: 700px; 
    margin-left: auto; 
  
    .carousel-inner {
      .carousel-item {
        img {
          width: 700px; 
          height: 450px; 
        }
      }
    }
  }

  .contenedor-video {
  width: 450px; 
  float: left; 

  video {
    width: 700px; 
    height: 450px; 
  }
}

.contenedor-eyelash {
    .contenedor-video-corto {
      width: 450px; 
      float: left; 
  
      video {
        width: 700px; 
        height: 450px; 
      }
    }
  }
  
  #carouselExampleFade {
    width:700px; 
    margin-left: auto; 
  
    .carousel-inner {
      .carousel-item {
        img {
          width: 450px; 
          height: 450px; 
        }
      }
    }
  }