@mixin mi-boton {
    background-color: #e9a6a6 ; 
    border: black; 
    color: black; 
    padding: 5px; 
    text-align: center; 
    text-decoration: black; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.1s; 
    &:hover {
        transform: scale(1.1);
        
    }
}

